.blockQuote {
    font-size: 48px;
    color: #523178;
    padding: 0 0 0 50px;
    border-left: 2px solid #523178;
    margin: 52px 0 52px -104px;
}

.largeHeading {
    font-size: 48px;
    color: #523178;
}

.largerHeading {
    font-size: 108px;
    color: #523178;
}

.heading {
    font-size: 22px;
    line-height: 1.94444rem;
    color: #523178;
}
