.slider {
    margin-bottom: 1rem;
    width: 100%;
}

.slider__button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.slider__children {
    margin: 1rem;
}

.slider__name {
    vertical-align: middle;
    font-size: 40px;
    letter-spacing: 6px;
    color: #523178;
}