.picture__container { 
    background: 0 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background-color: rgb(82, 49, 120);
}

.picture__image {
    height: 100%;
    position: absolute;
    display: block;
    margin-right: auto;
    width: 100%;
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 0.8;
}

.banner__text {
    font-weight: 900;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.banner__text--white {
    color: white;
    letter-spacing: 1.5px;
}

.banner__text--purple {
    color: #523178;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 900;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.banner__text--third {
    color: #523178;
    letter-spacing: 3px;
    font-weight: 900;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.banner__border {
    border-top: #523178 solid 2px;
    border-bottom: #523178 solid 2px;
}

.banner__background {
    left: 0;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner__container {
    margin-top: 150px;
    margin-bottom: 150px;
}