.toolbar__link {
    padding-right: 2rem;
    font-size: 13px;
    margin-top: 32px;
}

.toolbar__link--right {
    float: right;
}

.hamburger__link {
    float: right;
    padding-right: 2rem;
    font-size: 13px;
}

.toolbar__ANU {
    height: 80px;
}

.toolbar__CIT {
    height: 55px;
    margin-bottom: 12.5px;
}

.toolbar__CIT--small {
    width: 25px;
}