body {
  margin: 0;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("//fonts.gstatic.com/s/roboto/v18/e7MeVAyvogMqFwwl61PKhPesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
}

.rightAlign-md {
  text-align: right;
}

@media only screen and (max-width: 62em) {
  .rightAlign-md {
    text-align: inherit;
  }
}

@media only screen and (max-width: 62em) {
  .marginTop-sm {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 62em) {
  .centerAlign-sm {
    text-align: center;
  }
}

@media only screen and (max-width: 62em) {
  .displayNone-sm {
    display: none;
  }
}

.NewsArticle:hover{
  background-color: lightgrey;
  opacity: 0.5;
}