.row {
    margin-left: 0rem;
    margin-right: 0rem;
}
@media only screen and (max-width: 62em) {
    .youTube {
      width: 100%;
    }
  }

   .techStuff {
        padding: 15px;
    }
    .adaptiveFont{
        font-weight: '700';
        color: #523178;
    }

.privacy {
  overflow-x: hidden;
}

.privacy__line {
  width: 91.666%;
  position: absolute;
}

.privacy__line--right {
  right: -1rem;
}

.privacy__line--left {
  left: -1rem;
}

.what {
  margin-top: 3rem;
}

.what__picture {
  background: 0 0 ;
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0px;
  bottom: 0px;
  margin: auto;
  left: 30%;
  width: 50%;
  z-index: -2;
  height: 100%;
  background-color: #fff;
}

.what__img {
  height: 100%;
  position: absolute;
  display: block;
  margin-right: auto;
  width: 100%;
  background-repeat: repeat-y;
  background-size: cover;
  opacity: 1.0;
}

.what__text--emphasis {
  font-weight: 700;
  color: #523178;
}

.topic__wrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
}

.topic__wrapper--onion {
  margin-left: 0;
  margin-top: 15%;
  margin-bottom: 0;
}

.topic__wrapper--middle {
  margin-left: 20%;
}

.topic__img {
  object-fit: cover;
  width: 100%;
  box-shadow: 5px 5px 10px grey;
}

.topic__img--lost {
  width: 69%;
  box-shadow: none;
}

.topic__img--onion {
  width: 90%;
  box-shadow: none;
}

.topic__text {
  width: 90%;
  margin-left: 5%;
}

.info__line {
  position: relative;
  right: calc(50% + 1rem);
  margin-top: 6vw;
  margin-bottom: 2vw;
}

.info__heading {
  font-weight: 700;
  color: #523178;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.info__heading--anywhere {
  overflow-wrap: anywhere;
}

.info__list {
  list-style-position: outside;
}

.info__img {
  object-fit: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.involved {
  margin-top: 2rem;
}

.involved__layer {
  text-align: right;
}

.involved__text {
  line-height: 1.6;
}

.involved__text--padded16px {
  padding-bottom: 16px;
}

.involved__text--padded8px {
  padding-bottom: 8px;
}

.doing {
  margin-top: 4rem;
}

.video {
  width: 100%;
}

.safely {
  height: 100%;
}

.safely__container {
  display: flex;
  justify-content: center;
}

.safely__button {
  background-color: #523178;
  border: none;
  color: #fff;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 100;
}

.list-element {
  position: absolute;
  left: -2rem;
}

.list-element__line {
  position: relative;
  top: calc(0.5em - 2px);
  border: 1px solid #333;
}

.list-element__children {
  margin: 1rem 0 1rem 4rem;
}