.row {
    margin-left: 0rem;
    margin-right: 0rem;
}
@media only screen and (max-width: 62em) {
    .youTube {
      width: 100%;
    }
  }

   .techStuff {
        padding: 15px;
    }
    .adaptiveFont{
        font-weight: '700';
        color: #523178;
    }

  .principle__heading {
    font-size: 38px;
    margin-bottom: 0px;
  }

  .principle__paragraph {
    margin-top: 1rem;
  }